# Banco de dados
POSTGRES_DB=lunae
POSTGRES_USER=fev-23
POSTGRES_PASSWORD=fev-23
POSTGRES_HOST=<DATABASE_HOST>
POSTGRES_PORT=5432

SECRET_KEY=secret-key
DEBUG=False
ALLOWED_HOSTS=<VM_IP>,localhost,127.0.0.1
