# Banco de dados
POSTGRES_DB=lunae
POSTGRES_USER=fev-23
POSTGRES_PASSWORD=fev-23
# POSTGRES_HOST=<DATABASE_HOST>
# POSTGRES_PORT=5432

# Variáveis para teste:
#
# SECRET_KEY=<gerar uma chave aleatória; em produção NUNCA usar a default>
# DEBUG=False
# ALLOWED_HOSTS=<ip-ou-hostname-da-vm>,localhost,127.0.0.1
